<div style="display:flex; justify-content:center; align-items:center; height:90vh;">
  <mat-card style="width:380px; padding:24px;">
    <h2 style="text-align:center;">Login</h2>

    <mat-form-field appearance="outline" style="width:100%;">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width:100%;">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width:100%;">
      <mat-label>Role</mat-label>
      <mat-select [(ngModel)]="role">
        <mat-option value="DONOR">Donor</mat-option>
        <mat-option value="NGO">NGO</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="error" style="color:red; margin-bottom:10px;">
      {{ error }}
    </div>

    <button mat-raised-button color="primary" style="width:100%;" (click)="login()">
      Login
    </button>
  </mat-card>
</div>